@{ ViewData["Title"] = "Employee Page"; }

<h1 align="center">Employee Manager</h1>

<h6 align="center">Welcome to Employee Managing Service Portal</h6>
<button>
  <a href="/home/privacy">Privacy policy</a>
</button>
